@using EShop_app.Components.Pages
@inherits LayoutComponentBase
@inject ThemeService ThemeService

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<RadzenComponents @rendermode="InteractiveAuto" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="Header" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="true" Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <NavLink>
                <RadzenPanelMenuItem Text="Catalog" Icon="home" Path="ProductCatalog" />
            </NavLink>
          <NavLink>
                <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Path="/Dashboard" />
          </NavLink>
           <NavLink>
                <RadzenPanelMenuItem Text="Landing Page" Icon="auto_awesome" Path="/LandingPage">
                    <RadzenPanelMenuItem Text="Themes" Icon="color_lens" />
                    <RadzenPanelMenuItem Text="Colors" Icon="invert_colors" />
                </RadzenPanelMenuItem>
           </NavLink>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            <ProductCatalog></ProductCatalog> <br />
            <LandingPage></LandingPage>
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}